.modal-content-Error {
  background: #f8d7da;
  border: 4px solid #721c24;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  color: #721c24;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-message {
  color: #721c24;
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-list {
  color: #721c24;
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.modal-list-item {
  margin-bottom: 10px;
}

.modal-button {
  background-color: #721c24;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 1em;
  transition: background-color 0.3s;
}

.modal-button:hover {
  background-color: #b33a46;
}
