#searchForm {
  margin-top: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 0.8em 1.5em;
  gap: 0.5em;
}

#searchInput {
  color: #08273c;
  flex: 1;
  background-color: #f1f1f1e1;
  padding: 1.2em;
  border: none;
  width: 25em;
  margin-bottom: 0;
  font-family: "poppins";
}

#searchInput::placeholder {
  color: #08273c;
  font-family: "poppins";
  font-weight: 300;
}

#searchForm button {
  background-color: #08273c;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 15%;
  padding: 0.2em 0.8em;
  font-size: 0.9em;
  font-family: "poppins";
  font-weight: 300;
  margin: 0;
  border-radius: 10px;
}

#searchForm button:hover {
  background-color: #08273c;
}

#searchForm select {
  color: #08273c;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #f1f1f1;
  font-family: "poppins";
  font-weight: 300;
  transition: all 0.3s;
}

#searchForm select:focus {
  outline: none;
}

#searchForm select option {
  background-color: #f1f1f1;
  font-size: 0.8em;
  padding: 1em;
  border: none;
}

@media screen and (max-width: 767px) {
  #searchForm {
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
  }

  #searchInput {
    width: 100%;
  }

  #searchForm button {
    width: 100%;
    margin-top: 0.5em;
    padding: 1em;
  }
}
