.createAds {
  background-color: #fafafa;
  padding: 0.5em 2em;
  border: 1px solid #08273c;
  border-radius: 10px;
  margin: 3em auto;
  max-width: 50%;
}

.createAds h1 {
  color: #08273c;
  margin: 0.5em auto;
  text-align: center;
}

.createAds h1 span {
  color: #fdb303;
}

input[type="file"] {
  display: none;
}

#buttonFile {
  margin-top: 2em;
  background-color: #08273c;
  color: #fdb303;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
}

#buttonFile:hover {
  cursor: pointer;
}

.imagePreviews {
  width: auto;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

.imagePreviews img {
  max-width: 180px;
  max-height: 100px;
  margin: 0 0.2em;
  border-radius: 10px;
  object-fit: cover;
}

select {
  color: #08273c;
  border: 1px solid #08273c;
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: #ffffff;
  font-family: "poppins";
  font-weight: 300;
  transition: all 0.3s;
}

select:focus {
  outline: none;
}

select option {
  background-color: #f1f1f1;
  font-size: 0.8em;
  padding: 1em;
  border: none;
}
