.depoiment-item {
  padding: 1em;
  background-color: #fafafa;
  border-radius: 15px;
  max-width: 500px;
  max-height: 500px;
}

.depoiment-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  image-orientation: from-image;
  border-radius: 15px;
}

.title {
  margin: 0.2em auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.description {
  text-align: center;
}
