#login,
#register {
  border: 1px solid #08273c;
  background-color: #fafafa;
  padding: 1em 2em;
  max-width: 50%;
  margin: 3em auto;
  border-radius: 10px;
}

#title {
  font-weight: 700;
  color: #08273c;
  text-align: center;
}

#title span {
  color: #fdb303;
}

#subtitle {
  font-size: 1em;
  color: #08273c;
  text-align: center;
  margin-bottom: 1.2em;
}

@media screen and (max-width: 767px) {
  #login,
  #register {
    margin: 4em 1em;
    max-width: 100%;
  }
}
