/* AdsItem.css */
.ads-item {
  position: relative;
}

.ads-item img {
  display: block;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.ads-item .price {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  padding: 0.5em;
  background-color: #ffffff85;
}

.ads-item .title {
  position: absolute;
  font-size: 1.2em;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  color: #fff;
}

.admin-options {
  position: absolute;
  top: 10px;
  right: 10px;
}

.admin-options button {
  margin-left: 5px;
  padding: 0.5em 1em;
  border: none;
  background-color: #08273c;
  color: #fff;
  cursor: pointer;
}

#admin-option-delete {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

#admin-option-delete:hover {
  background-color: #ffc4c9;
}

.admin-options button:hover {
  background-color: #0f486e;
}

@media screen and (max-width: 767px) {
  .price {
    font-size: 1em;
  }

  .ads-item p {
    font-size: 1.2em;
  }
}
