.getAds,
.getDepoiments,
.getResults {
  padding: 1em 2em;
}

.ads-content,
.depoiments-content,
.getResults {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.title {
  font-size: 2em;
  font-family: poppins;
}
