#login,
#register {
  border: 2px solid #181881;
  background-color: #f7fbff;
  padding: 1em 2em;
  width: 30%;
  margin: 3em auto;
  border-radius: 25px;
}

#title {
  font-weight: 600;
  color: #181881;
  text-align: center;
}

#subtitle {
  font-size: 0.8em;
  color: #181881;
  text-align: center;
  margin-bottom: 1em;
}
