.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 20px;
}

.logo {
  color: #181881;
}

.navbar__search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #181881;
  border-radius: 25px;
  padding: 0.4em;
  width: 300px;
}

.navbar__search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.2em;
  background-color: #fff;
}

.navbar__search-icon {
  color: #181881;
}

.navbar__right {
  display: flex;
}

.navbar__options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__option {
  display: inline-block;
  margin-left: 10px;
  padding: 0 0.5em;
  color: #181881;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.navbar__option:hover {
  border-bottom: 2px solid #181881;
}
