.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fafafa;
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar__content {
  padding: 1em;
  margin-top: 5em;
}

.sidebar__options {
  list-style: none;
  padding: 0;
}

.sidebar__options li {
  margin-bottom: 1em;
}

.sidebar__options a {
  color: #08273c;
  text-decoration: none;
  font-size: 16px;
}

.sidebar__options a:hover {
  color: #fdb303;
}

.menu__toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: transparent;
  color: #08273c;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
  font-size: 1.5em;
}

#exit {
  color: red;
  cursor: pointer;
}
