/* Estilos básicos para a mensagem */
.message {
  border-radius: 10px;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  width: auto;
  position: relative;
  background-color: white;
}

/* Estilos da sobreposição */
.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Adiciona desfoque ao fundo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
}

/* Estilos do contêiner do modal */
.message-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

/* Estilos da mensagem de erro */
.message.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #721c24;
}

.message.error h2 {
  color: #721c24;
}

/* Estilos da mensagem de sucesso */
.message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #155724;
}

.message.success h2 {
  color: #155724;
}
