.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.toggle-button {
  background-color: #08273c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-button span {
  margin-left: 10px;
}

.filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}

.filters label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.filters label span {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.filter-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.filter-button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #08273c;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  grid-column: span 5;
}

.filter-button:hover {
  background-color: #08273c;
}

.span-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #08273c;
  border-bottom: 2px solid #08273c;
}

.span-double .filter-input {
  width: 100%; /* Garante que os inputs ocupem toda a largura do espaço disponível */
}

.filter-input-group {
  display: flex;
  gap: 10px;
}

.filter-input-group .filter-input {
  flex: 1;
}

/* Animações para transições */
.filters-transition-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.filters-transition-enter-active {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 300ms ease-in, opacity 300ms ease-in;
}

.filters-transition-exit {
  max-height: 1000px;
  opacity: 1;
}

.filters-transition-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .filters {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-double {
    grid-column: span 2;
  }

  .filter-button {
    grid-column: span 2;
  }
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
  .filters {
    display: block; /* Altera para exibição em bloco para todos os elementos */
    padding: 1rem; /* Adiciona um espaçamento entre os elementos */
  }

  .span-double {
    display: block; /* Exibe os elementos span-double em bloco */
  }

  .filter-input,
  .filter-input-group .filter-input,
  .filter-button {
    width: 100%; /* Garante que todos os elementos ocupem toda a largura disponível */
    margin-bottom: 1rem; /* Adiciona um espaçamento entre os elementos */
  }
}
