.adsPage {
  background-color: #f1f1f1;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.carousel-container {
  width: 50%; /* Faz o carrossel ocupar metade da largura da tela */
}

.carousel-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.details-container {
  width: 50%;
  padding: 0 0 0 1em;
}

.details-container label {
  background-color: #fafafa;
  padding: 1em;
  border-radius: 15px;
}

.details-title {
  color: #08273c;
  padding-bottom: 1em;
}

.contact-section {
  margin-top: 20px;
}

.contact-section h3,
h4 {
  color: #08273c;
  text-align: center;
}

.contact-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

#contact-button {
  background-color: #08273c;
  color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 1em;
  border-radius: 15px;
}

#contact-button img {
  width: 3em;
  filter: invert(1);
}

.addDetails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.addDetails {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #fafafa;
  border: solid 3px #08273c;
  border-radius: 15px;
  margin: 0.5em;
}

.addDetails .icon {
  font-size: 2em;
  margin-right: 10px;
  color: #08273c;
}

.addDetails span {
  font-weight: bold;
  margin-right: 5px;
  color: #08273c;
}

.addDetails p {
  font-size: 1.5em;
  color: #08273c;
}

.addMaps {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #08273c;
  border: solid 3px #08273c;
  border-radius: 15px;
  margin: 0.5em;
  width: auto; /* Adicionado para responsividade */
}

.addMaps .icon {
  font-size: 2em;
  margin-right: 10px;
  color: #fafafa;
}

.addMaps p {
  font-size: 1.2em;
  color: #fafafa;
}

@media screen and (max-width: 767px) {
  .adsPage {
    padding: 1em; /* Reduz o preenchimento para dispositivos móveis */
  }

  .carousel-container,
  .details-container {
    width: 100%; /* Define a largura total para os contêineres em dispositivos móveis */
    max-width: none; /* Remove a largura máxima */
  }

  .contact-section h3,
  .contact-section h4 {
    text-align: center; /* Centraliza o texto dos botões de contato */
  }

  .contact-buttons {
    margin: 1em 0;
  }

  #contact-button {
    width: 50%;
    padding: 0.5em;
  }

  .details-container {
    padding: 0;
  }

  .addMaps {
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .addDetails-container {
    flex-direction: column;
    align-items: stretch;
  }

  .addDetails {
    padding: 0.5em 1em;
    justify-content: space-evenly;
    background-color: #fafafa;
    border: solid 3px #08273c;
    border-radius: 15px;
    margin: 0.5em 0;
  }

  .addDetails .icon {
    font-size: 2em;
    margin-right: 10px;
    color: #08273c;
  }

  .addDetails span {
    font-weight: bold;
    margin-right: 5px;
    color: #08273c;
  }

  .addDetails p {
    font-size: 1.5em;
    color: #08273c;
    margin: 0;
  }
}
