/* AdsPage.css */
.adsPage {
  padding: 2em 0;
  background-color: #fbfbfb;
  border-radius: 15px;
  max-width: 50%;
  margin: 2em auto;
  padding: 0 1em;
}

.ads-title {
  font-size: 2em;
  color: #08273c;
}

.carousel-container {
  margin-bottom: 20px;
}

.mySwiper {
  width: 100%;
  border-radius: 15px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.addDetails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.addDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #08273c;
  padding: 1em 2em;
  border-radius: 15px;
  flex-basis: calc(50% - 20px);
  max-width: 45%;
  margin-bottom: 20px;
}

.addDetails p {
  font-size: 1.5em;
}

.icon {
  font-size: 2em;
  color: #08273c;
}

.details-container {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.details-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.details-flex label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.details-flex span {
  font-weight: bold;
  display: block;
}

.description-container {
  padding: 1em;
  border-radius: 15px;
}

.description-container h3 {
  margin-bottom: 10px;
}

.contact-section {
  text-align: center;
  margin-top: 40px;
}

.contact-section h3,
.contact-section h4 {
  margin: 10px 0;
}

.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #08273c;
  border: 2px solid #08273c;
  padding: 1em 2em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  max-width: 100%;
}

#contact-button img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

#contact-button:hover {
  background-color: #03426b;
  color: white;
}

#price {
  background-color: #08273c;
  color: #fafafa;
  padding: 1em 0.5em;
  border-radius: 15px;
  width: auto;
}

#price span {
  color: #fafafa;
}
/* Adicionando destaque ao botão "Ver no mapa" */
.addMaps {
  background-color: #08273c;
  color: white;
  padding: 1em 2em;
  border: 2px solid #fafafa;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addMaps:hover {
  background-color: #03426b;
  transform: scale(1.05);
  cursor: pointer;
}

.addMaps p {
  margin: 0;
  font-size: 16px;
  color: #fafafa;
}

.addMaps .icon {
  color: #fafafa;
}

/* Consultas de mídia para responsividade */
@media (min-width: 768px) {
  .ads-title {
    font-size: 3em;
  }

  .addDetails {
    flex-basis: calc(25% - 10px);
    max-width: 25%;
  }

  /* .carousel-img {
    max-height: 500px;
  } */
}

@media (max-width: 768px) {
  .adsPage {
    max-width: 100%;
  }

  .contact-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-buttons a {
    width: 80%;
    margin-bottom: 10px;
  }

  #contact-button {
    width: 100%;
  }
  .carousel-img {
    max-height: 500px;
  }
}

@media (max-width: 480px) {
  .ads-title {
    font-size: 1.5em;
  }

  .addDetails {
    flex-basis: calc(50% - 20px);
    width: 45%;
  }

  .carousel-img {
    height: auto;
  }

  #contact-button {
    width: 100%;
  }
  .carousel-img {
    max-height: 225px;
  }
}
