#carroussel-title {
  text-align: center;
  margin: 2em 0;
  color: #08273c;
}

#carroussel-title span {
  color: #fdb303;
}

.btn-ver-mais a {
  margin: 1em auto;
}

.carousel {
  position: relative;
  margin: 20px auto;
  max-width: 100%;
  width: 100%;
}

.carousel-depoiments {
  margin: 20px auto;
  max-width: 100%;
  width: 95%;
}

.intro-home {
  background-image: url("../../assets/background-intro.jpg");
  background-size: cover;
  background-position: center center;
  color: #08273c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em 0;
}

.intro-home {
  min-height: 95vh;
}

.intro-content {
  background-color: rgba(0, 0, 0, 0.055);
  padding: 3em 2em;
  border-radius: 15px;
}

#intro-title {
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
}

.creci {
  color: #ffffff;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
