.AddDepoiment {
  background-color: #fafafa;
  padding: 0.5em 2em;
  border: 1px solid #08273c;
  border-radius: 10px;
  margin: 5em auto;
  max-width: 50%;
}

.AddDepoiment h1 {
  color: #08273c;
  margin: 0.5em auto;
  text-align: center;
}

.AddDepoiment h3 {
  color: #08273c;
  text-align: center;
  font-weight: 400;
}

.imagePreviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagePreviews img {
  max-width: 150px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
