* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

a {
  color: #08273c;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 0.5em;
}

label span {
  font-weight: 600;
  margin-bottom: 0.1em;
  color: #08273c;
  font-size: 0.8em;
}

input:not([type="color"]) {
  background-color: #fff;
  color: #08273c;
  border-radius: 10px;
  padding: 1em;
  outline: none;
  margin-bottom: 0.6em;
  border: 1px solid #08273c;
  font-family: "poppins";
}

input::placeholder {
  color: #aaa;
}

.btn,
button,
input[type="submit"] {
  color: #fdb303;
  background-color: #08273c;
  border-radius: 10px;
  padding: 0.8em 1.6em;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  width: auto;
  margin: 0.5em auto;
}

input:disabled {
  cursor: not-allowed;
  background-color: #aaa;
}

.cancel-btn {
  background-color: #ccc;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.hide {
  display: none;
}

#buttonFile {
  margin-top: 2em;
  background-color: #08273c;
  color: #fdb303;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
}

#buttonFile:hover {
  cursor: pointer;
}

textarea {
  background-color: #fff;
  color: #08273c;
  border-radius: 10px;
  padding: 1em;
  outline: none;
  margin-bottom: 0.6em;
  border: 1px solid #08273c;
  font-family: "poppins";
}
