.upload__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-list {
  display: flex;
  flex-direction: row; /* Assegura que os itens fiquem em uma linha */
  gap: 10px;
  overflow-x: auto; /* Permite rolagem horizontal se necessário */
  padding: 10px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-item__btn-wrapper {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 5px;
}

.image-item__btn-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 1.2em;
  transition: color 0.3s;
}

.image-item__btn-wrapper button:hover {
  color: #f00;
}
